@model IEnumerable<ASCE.Models.PersonalAccount>

@{
    ViewBag.Title = "PersonalAccountList";
    @Styles.Render("~/Content/lists.css")
}

<h3>Список лицевых счетов</h3>

<div class="btn-create">
    @Html.ActionLink("Добавить", "Create", "PersonalAccount")
</div>

<table>
    <tr>
        <th>Номер лицевого счета</th>
        <th>Адрес</th>
        <th>Дата открытия</th>
    </tr>
</table>