@{
    ViewBag.Title = "PersonalAccountList";
    @Styles.Render("~/Content/lists.css")
}

<h3>Список лицевых счетов</h3>

<table>
    <tr>
        <th>Номер лицевого счета</th>
        <th>Адрес</th>
        <th>Дата открытия</th>
    </tr>
</table>