@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASCE.NET</h1>
    <p class="lead">ASCE.NET передовой сайт для сбора и учета электропоказаний и обслуживания наших клиентов</p>
    <p>@Html.ActionLink("Войти в систему", "Login", "Account", new { @class = "btn btn-primary btn-lg"})</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Возможности</h2>
        <p>ASCE.NET представляет собой автоматизированную систему регистрации показания счетчиков и их обслуживания.</p>
        <p>Не надо выходить на улицу, не надо задумываться какие счетчики и где у вас стоят. Внесите данные единожды и не думайте больше!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Подробнее о возможностях</a></p>
    </div>
    <div class="col-md-4">
        <h2>Простота и Скорость</h2>
        <p>Два слова в точности описывающих данную систему! Высокая скорость работы системы за счет разработки на самых современных технологиях.</p>
        <p>Заботливый и интуитивно понятный интерфейс для пользователей, позволяющий не потеряться на сайте.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Больше о истории создания</a></p>
    </div>
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
            Для начала работы в системе ASCE.NET нужной пройти простую регистрацию занимающую всего 1 минуту!
        </p>
        <p>@Html.ActionLink("Зарегистрироваться", "Register", "Account", new { @class = "btn btn-default"})</p>
    </div>
</div>